.App  {
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
}

nav a {
  color: green;
  margin:0 10px;
  padding: 5px ;
  text-decoration: none;
}


nav a:hover {
  color:blue
}

ul{
  margin-top: 150px;
}